@import "./shared/fonts/fonts.css";

html {
	overflow-y: auto;
}

body, input, button, a {
	font-family: "Montserrat", sans-serif;
	outline: none;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}